@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background: #1f1f1f;
    font-family: "Raleway", sans-serif;
}

.row{
    background: #1f1f1f;
}

#button-carrito {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #1e1f1f;
    background: #fcfc91;
    width: 5%;
    height: 40px;
    border: 2px solid #198754;
    border-radius: 10px;
}

h2 {
    color: #fcfc91;
    font-weight: 600;
    text-align: center;
}

#form {
    background: #198754;
    padding: 30px;
    border-radius: 12px;
    height: fit-content;
}

#vehiculo-form button {
    width: 100%;
}

#vehiculo-form button:hover {
    background-color: #252628;
}

.color {
    background: #1e2c3b;
}

table {
    width: 90%;
    max-width: 900px;
    border-radius: 15px;
    overflow: hidden; 
}

thead {
    background-color: #198754;
    padding: 10px;
    color: #fcfc91;
    font-weight: bold;
}

th,
td {
    padding: 20px;
    text-align: center;
}

tbody td {
    background-color: #198754;
    color: aliceblue;
} 

tr:last-child td {
    border-bottom: none;
}

#tabla-carrito {
    color: #1e1f1f;
    width: 70%;
    margin: 0 auto;
}

